neopyxel/__pycache__
neopyxel/__pycache__/*
.vscode/
neopyxel/transitions/__pycache__/
neopyxel/transitions/__pycache__/*
neopyxel/effects/__pycache__/
neopyxel/effects/__pycache__/*
build/
dist/
neopyxel.egg-info/
neopyxel/neopyxel.egg-info/
